div.account
    style
        include account.css
    div.accountWrap
        div
            span Профиль
            div
                div.profileTsK.topTsK
                    img(src="../accountImg/userPhoto.jpg")
                    span Nisterrion
                div.profileTsK.centerTsK
                div.profileTsK.bottomTsK
                    input(type="button", value="Выйти из аккаунта")